set keyseq-timeout 0
set editing-mode emacs
set show-mode-in-prompt off
set vi-ins-mode-string "\1\e[5 q\2[ins] "
set vi-cmd-mode-string "\1\e[2 q\2[nav] "

Control-l: clear-screen
TAB: menu-complete
"\e[Z": menu-complete-backward
set convert-meta on
Meta-TAB: menu-complete

Control-p: menu-complete-backward
Control-n: menu-complete
# set vi-cmd-mode-string ": "
# set vi-ins-mode-string "+ "
"\e[A": history-search-backward
"\e[B": history-search-forward
# set keymap vi-command
# "gg": beginning-of-history
# "G": end-of-history

set bell-style visible

# Completion tweaks
set completion-ignore-case on
set completion-map-case on
set mark-symlinked-directories on
# set visible-stats on
set skip-completed-text on
set colored-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on
set mark-symlinked-directories on


# Allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off
