<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pagico.alfredutility.1.4</string>
	<key>connections</key>
	<dict>
		<key>047BB59F-0085-43F7-8C2F-F68AE2E120FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B582B7A-A853-4A3F-9FDB-569C408495D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CE46C7D-ED77-4A38-8F6F-541000B97332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>410B54EC-BF02-4545-B3EF-F59924525E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B582B7A-A853-4A3F-9FDB-569C408495D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4318B1D8-5CD1-40FC-9F02-F4D2641B74CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>47E7C31D-4497-42B5-A774-6ECB7E415F9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4318B1D8-5CD1-40FC-9F02-F4D2641B74CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A194AF5-9A48-418D-AD8A-DAE64F20DC1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47E7C31D-4497-42B5-A774-6ECB7E415F9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1771B26-E859-4AED-B5E5-D68FB4FB5AFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1771B26-E859-4AED-B5E5-D68FB4FB5AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>NOTES 17 LLC</string>
	<key>description</key>
	<string>For Pagico 8</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pagico Utilities for Pagico 8</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/Applications/Pagico.app/Contents/Resources/Pagico/external/inbox.mac.sh Type="Text" plaintext=1 Content="{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1771B26-E859-4AED-B5E5-D68FB4FB5AFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>pnote </string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>047BB59F-0085-43F7-8C2F-F68AE2E120FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pnote</string>
				<key>subtext</key>
				<string>e.g.: Here's an interesting article: http://...</string>
				<key>text</key>
				<string>Save as a new note to your Pagico Inbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ptask</string>
				<key>subtext</key>
				<string>e.g.: Lunch meeting tomorrow from 1pm to 2pm</string>
				<key>text</key>
				<string>Add a new task to your Pagico Inbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47E7C31D-4497-42B5-A774-6ECB7E415F9B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>ptask </string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4A194AF5-9A48-418D-AD8A-DAE64F20DC1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/Applications/Pagico.app/Contents/Resources/Pagico/external/inbox.mac.sh type="Task" plaintext=1 smart=1 content="{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4318B1D8-5CD1-40FC-9F02-F4D2641B74CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ptoday</string>
				<key>subtext</key>
				<string>This command shows all the _pending_ items scheduled for today.</string>
				<key>text</key>
				<string>Show pending tasks that are scheduled for today.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>410B54EC-BF02-4545-B3EF-F59924525E9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/Applications/Pagico.app/Contents/Resources/Pagico/external/tasks.mac.sh today=1 showduedate="H:i" advanced=0 title="Today" status=0</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B582B7A-A853-4A3F-9FDB-569C408495D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>6CE46C7D-ED77-4A38-8F6F-541000B97332</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>[Requirement]
This utility requires Pagico for Desktop 8 or later, and please keep the Pagico 8 app located in /Applications folder.

© 2015 Pagico Software, Inc.</string>
	<key>uidata</key>
	<dict>
		<key>047BB59F-0085-43F7-8C2F-F68AE2E120FF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2B582B7A-A853-4A3F-9FDB-569C408495D7</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>410B54EC-BF02-4545-B3EF-F59924525E9D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>4318B1D8-5CD1-40FC-9F02-F4D2641B74CA</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>47E7C31D-4497-42B5-A774-6ECB7E415F9B</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>4A194AF5-9A48-418D-AD8A-DAE64F20DC1A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6CE46C7D-ED77-4A38-8F6F-541000B97332</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D61A6993-6D0E-4785-9B18-DD5F3C82055A</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E1771B26-E859-4AED-B5E5-D68FB4FB5AFF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.pagico.com/</string>
</dict>
</plist>
