<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.roman-numerals</string>
	<key>connections</key>
	<dict>
		<key>0DF0275E-0981-4DBD-BAF5-AA01F5DACAE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89A475BB-6088-4562-B1DE-676F8DED356C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Convert Roman Numerals</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Roman Numerals</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>rn</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>./numerals "{query}"</string>
				<key>title</key>
				<string>Roman Numeral</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0DF0275E-0981-4DBD-BAF5-AA01F5DACAE2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>89A475BB-6088-4562-B1DE-676F8DED356C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DF0275E-0981-4DBD-BAF5-AA01F5DACAE2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>89A475BB-6088-4562-B1DE-676F8DED356C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
